html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

a {
  color: #428bca;
}

a.logo {
  text-decoration: none;
}
a.logo:hover {
  text-decoration: none;
}

#image_preview img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  padding-right: 5px;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

#result-screenshot {
  padding: 10px;
  border: 1px solid lightgray;
}